<h2>All Contacts</h2>

  <div class= "total">
    <li>There are <b><span id= "totalcontact"><%= Contact.all.count %></span></b> contacts</li>
  </div>

  <div class= "all">
    <ul>
      <% Contact.all.each do |contact| %>
        <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</a>
          <br><br><a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href= "/contacts/<%= contact.id %>">Delete</a>
          <form action="/contacts/<%= contact.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Contact">
          </form>
        </li>

      <% end %>
    </ul>
  </div>
